:root {
  --color-dark-shade: #6f6f66;
  --color-darker-shade: #ecf3d3;
  --color-hover: #9fc3f870;
  --color-selected: #0d6efd
}

.dropdown-label-text-s {
  font-size: 0.85rem;
}

.dropdown-label-hushed {
  color: var(--color-dark-shade);
}

.dropdown-label-spacing {
  margin-bottom: .4rem;
}

.dropdown-container {
    text-align: left;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}
  
.dropdown-input {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.dropdown-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc; 
  border-radius: 5px;
  overflow: auto;
  max-height: 150px; 
  background-color:#fff;
  z-index: 500;
}

.dropdown-option { 
  padding: 5px;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: var(--color-hover)
}

.dropdown-option-selected {
  background-color: var(--color-selected);
  color: #fff;
}

.dropdown-chips {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.dropdown-chip {
  background-color: #ddd;
  padding: 2px 6px;
  border-radius: 13px;
  display: flex;
  align-items: center;
}
.dropdown-chip-close {
  display: flex;
  align-items: center;
}